th{
    color:#0a1640;
    background-color: aliceblue !important;
}
tr:hover{
    background-color:rgb(245, 243, 243);
}
.navigator{
    display: flex;
    justify-content: space-between;
}
.navigator svg:hover{
    cursor: pointer;
}
.pageIden{
    margin-right: 1rem;
}