form {

    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #0a1640;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
    margin-top: 10%;

}
 .submitButton{
    background-color: 0a1640 !important;
    color: white !important;
}
