.btn {
  width: 6rem;
  border: none !important;
}
.cancel {
  background-color: red !important;
}
.cancel:hover {
  background-color: rgb(244, 74, 74) !important;
}
.submit {
  background-color: green !important;
}
.submit:hover {
  background-color: rgb(29, 169, 29) !important;
}
.authen {
  display: flex !important;
  justify-content: space-between !important;
  background-color: transparent !important;
  border: 2px solid #9fd3c7 !important;
  border-radius: 0 !important;
  color: #9fd3c7 !important;
  width: 10rem !important;
  text-transform: uppercase;
}
.authen::after {
  content: ">" !important;
}
.authen:hover {
  background-color: #9fd3c7 !important;
  color: #0a1640 !important;
}
.apply {
  background-color: #0a1640 !important;
}
.apply:hover {
  background-color: rgb(29, 169, 29) !important;
}
.applyButtonCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
