.editPage {
  min-height: 90vh;
  height: 100%;
}
.editTitleContainer {
  margin-top: 1.5rem;
  padding-left: 1rem;
  text-align: center;
  color: #0a1640;
}
.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.editProfile {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #0a1640;
  color: white;
  width: 60%;
}
.submitButton {
  margin-top: 0.5rem;
  width: 5rem;
  background-color: white !important;
  color: #0a1640 !important;
}
.submitButton:hover {
  background-color: green !important;
}
.alertContainer {
  height: 2.5rem;
}
input {
  margin: 0.5rem 0 0.5rem 0 !important;
}
