.cont {
  padding: 0 !important;
}
.ourNav {
  background-color: #0a1640;
  height: 5rem;
}
.navbar-collapse {
  background-color: #0a1640 !important;
  width: 100% !important;
}
.ourNav a {
  color: white !important;
  text-decoration: none;
}
.navRight{
    margin-right: 5%;
    margin-left: 10%;
}
.logo{
    margin-left: 5%;
}
.navLeft {
  margin-left: 3rem;
  gap: 30%;
}
.logo {
  font-size: 3rem;
}
.navbar-toggler {
  background-color: white !important;
}
